.open-source {
  .projects {
    .project-container {
      &.hero-container {
        .hero-item {
          .type-label,
          .option-label {
            text-transform: capitalize;
          }
          .ngx-datetime-range-picker {
            .date-input {
              input {
                background-color: #FFFFFF;
              }
            }
          }
        }
      }
      .project {
        width: 100%;
        flex-grow: 1;
      }
    }
    .info {
      .description {
        font-size: var(--text-xs);
        line-height: var(--tw-leading, var(--text-xs--line-height));
      }
      .tech-stack {
        font-size: var(--text-sm);
        line-height: var(--tw-leading, var(--text-sm--line-height));
      }
    }
  }
}
