.about {
  color: var(--color-gray-900);

  .info {
    button,
    a {
      background-color: var(--primary-color);
      color: #fff;
      border-radius: 8px;

      svg {
        stroke: #ffffff;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
    }
  }
}
