@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
  --spacing: 1px;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --breakpoint-mobile: 320px;
  --breakpoint-tab: 765px;
  --breakpoint-desktop: 1280px;
  /* --app-background-color: oklch(98.5% 0.002 247.839); */
  --app-background-color: #ffffff;
  --primary-color: oklch(54.6% 0.245 262.881);
}

@utility mtb-* {
  margin-top: --value(integer)px;
  margin-bottom: --value(integer)px;
}

@utility mlr-* {
  margin-left: --value(integer)px;
  margin-right: --value(integer)px;
}

@utility ptb-* {
  padding-top: --value(integer)px;
  padding-bottom: --value(integer)px;
}

@utility plr-* {
  padding-left: --value(integer)px;
  padding-right: --value(integer)px;
}

html,
body {
  background-color: var(--app-background-color);
  color: var(--color-gray-950);
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
canvas {
  border: 1px solid #000;
}

.section-content {
  background-color: var(--color-white);
  padding: calc(var(--spacing) * 24);
  border-radius: var(--radius-lg);
  border: 1px solid oklch(87.2% 0.01 258.338);
}

.portfolio-link {
  color: var(--primary-color);
  &:visited {
    color: var(--primary-color);
  }
}